/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : December 15, 2016, 6:49:59 PM
    Author     : Shubhom
*/

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.html{
    color:  slategrey;  
    font-size:20px;
    display: flex;
    flex-wrap: wrap

     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

body{
  padding-top:2%; 
    background-color: #00BFFF; 
    background-repeat: no-repeat; 
    font-family: 'Montserrat', sans-serif; 
    color: slategrey;
    margin-left:auto;
    margin-right:auto; 
    width:100%; 
}
h1{
    color:black; 
    vertical-align: left; 
}
nav {
    margin-top: 1%; 
    font-size: 175%; 
    height:7%
}
a{
   text-decoration: none; 
   color: inherit; 
   -o-transition:1.5s;
  	-ms-transition:1.5s;
  	-moz-transition:1.5s;
  	-webkit-transition:1.5s;
  	transition: 1.5s;
    }
a:hover{
    color: white; 
    text-decoration: none; 
        }


header{
    margin-bottom: 0;
    padding-bottom:0; 
}


  footer{
      margin-top: 0%; 
      margin-bottom: 0%; 
      
      display: inline-block; 
      background-color: slategrey; 

       position:fixed;
   left:0px;
   bottom:0px;
   height:8%; 
   width:100%;
  }
  h3{
      color: slategrey; 
      font-size: 180%;
      padding-bottom: 10px; 
      padding-top: 10px; 
      

  }
  #foot{
    width:95%; 
    height:7%; 
  }
  footer#foot.container{
    padding-left:10%; 
    padding-right:6%; 
      
      width:100%; 
  }
  #copyright{
    margin-top:1%; 
    font-size: 20px; 
    color:white; 
  }
  .md{
      list-style: none;
      padding: 1%; 
      padding-top:0px; 
      margin-top:0%; 
      margin-left:10%; 
      color: white; 
      float:left;
      flex-wrap:nowrap; 

  }
  #icons{
    margin-bottom:0px; 
    margin-top:0.5%; 
    padding-top:0px; 
  }
  .md:hover{
      padding-top:1px; 
  }
  .fa-facebook {
  padding:10px 14px 7px 14px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
#social-icons{
    display:inline-block; 
    position:relative; 
}
.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-rss {
  padding:10px 12px 7px 12px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding:10px 12px 7px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding:10px 11px 8px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google-plus {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}

.fa-google-plus:hover {
  background-color: #e25714;
}
.nav navbar-nav navbar-right{
    position:relative;
    float:right; 
    
}
#header_ul {
    list-style-type: none;
    margin: 3px; 
    padding: 0%; 
}
#head{
  list-style-type: none;
  float:left; 
  margin:3px; 
}
#head_elem{
  margin:3px; 
  position:relative;  
}
#head_elem:hover{
    margin-right:30px;  
   border-left: 2px solid black;
   -o-transition: 1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition: 1s;

}
#navhead{
  margin-top:0%; 
  padding-left:0%;  
  background-color:#c6e2ff; 
}
 #link{
        text-decoration:underline;
      }
     
